{% extends "base.html" %}

<title>{% block title %} {{city_str}} {% endblock%}</title>


{% block content %}

<div class="container-index"></div>
  <form class="form-signin text-center" method="post">
    {# <h1 class="h3 mb-3 font-weight-normal">{{city_str}}</h1> #}
    <small class="form-text text-muted">Nombre de la calle: </small>
    <label for="busqueda_calle" class="sr-only">Calle</label>
    <input type="text" class="form-control" id="busqueda_calle" name="busqueda_calle" value=""
    aria-describedby="latitud"  placeholder="Nombre de la calle...">

  </form>

{% endblock content %}
