{% extends "base.html" %}

<title>{% block title %} {{city_str}} {% endblock%}</title>


{% block content %}

<div class="container-index"></div>
  <form class="form-signin text-center" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Nueva búsqueda</h1>
    {# {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} #}
    <small class="form-text text-muted mb-2">Nombre de la calle: </small>
    <label for="busqueda_calle" class="sr-only">Calle</label>
    <input type="text" class="form-control" id="busqueda_calle" name="busqueda_calle" value=""
    aria-describedby="busqueda_calle"  placeholder="Calle...">
    <button type="submit" class="btn btn-light mt-3" name="button">Buscar</button>

  </form>

{% endblock content %}
