{% extends "base.html" %}
{% block title %}

{% endblock%}
{% block content %}

<div class="container">
<div>
<h1>{{ geo_calle }}</h1>
<br>
<p>{{print_calle}}</p>
<br>
{% if message %}
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
{% else %}
<a href="{{wiki_calle}}" class="text-decoration-none text-muted">
  <h4>Seguir leyendo (Wiki)</h4>
  <br>
</a>
<a href="{{ url_for('item_calle.busqueda_calle') }}" class="text-decoration-none text-muted">
  <h4>Buscar otra calle</h4>
  <br>
</a>

{% endif %}


</div>
{# style="width: 80vw; height: 80vh" #}
<div>
    <div style="height: 80vh" id="mapContainer">
  </div>
</div>
</div>
<section>
  <script>


      // Initialize the platform object:
          var platform = new H.service.Platform({
            'apikey': '{{api_key}}'
          });

         const lat = {{lat_str}};
     	   const lon = {{long_str}};
         // const lat = {{lat_str}};
    	   // const lon = {{long_str}};

    	// Obtain the default map types from the platform object
          var maptypes = platform.createDefaultLayers();

          // Initialize a map:
          var map = new H.Map(
            document.getElementById('mapContainer'),
            maptypes.raster.terrain.map,
            {
              zoom: 15,
              center: { lat: lat, lng: lon }
            });

    	// Enable the event system on the map instance:
    	  var mapEvents = new H.mapevents.MapEvents(map);

    	// Instantiate the default behavior, providing the mapEvents object:
    	 var behavior = new H.mapevents.Behavior(mapEvents);

    	//window.addEventListener('resize',()=> get.ViewProt().resize())
    	var marker = new H.map.Marker({ lat: lat, lng: lon });

    	// Add the marker to the map:
    	map.addObject(marker);

    	// Create the default UI:
    	var ui = H.ui.UI.createDefault(map, maptypes);

    	// Add event listener to the marker:
    	marker.addEventListener('tap', function(evt) {

    		// Create an info bubble object at a specific geographic location:
    		var bubble = new H.ui.InfoBubble({ lng: lon, lat: lat }, {
                    content: '<p> <h4>Dirección</h4>{{address}}</p>'
                 });

    		// Add info bubble to the UI:
    		ui.addBubble(bubble);
    	});

  </script>
</section>
{% endblock content %}
