{% extends "base.html" %}

<title>{% block title %} {{city_str}} {% endblock%}</title>


{% block content %}

<div class="container-index"></div>
  <form class="form-signin text-center" method="post">
    <h1 class="h3 mb-3 font-weight-normal">{{city_str}}</h1>
    <small class="form-text text-muted">Latitud: </small>
    <label for="lat_url_1" class="sr-only">Latitud</label>
    <input type="text" class="form-control" id="lat_url_1" name="lat_url_1" value=""
    aria-describedby="latitud"  placeholder="Latitud...">

    <small class="form-text text-muted">Longitud: </small>
    <label for="long_url_2" class="sr-only">Longitud</label>
    <input type="text" class="form-control" id="long_url_2" name="long_url_2" value=""
    aria-describedby="longitud"  placeholder="Longitud...">
    <button type="submit" class="btn btn-light mt-3" name="button">Enviar datos</button>
    <p class="mt-5 mb-3 text-muted" style="text-align: center">&copy; La sheca 2020</p>
  </form>

{% endblock content %}
{% block map %}

<section>
  <script>

      function showPosition() {
          if(navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                console.log(position.coords.latitude)
                console.log(position.coords.longitude)
                const lat_1 = position.coords.latitude;
           	    const lon_2 = position.coords.longitude;
                  document.getElementById("lat_url_1").value = position.coords.latitude;
                  document.getElementById("long_url_2").value = position.coords.longitude;
              });
          } else {
              alert("Sorry, your browser does not support HTML5 geolocation.");
          }
          // return lat_1, lat_2;
      }

      showPosition()


      // console.log(lat_1)
      // console.log(lat_2)


  </script>
</section>
{% endblock map %}
